html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

@font-face {
    font-family: "Abril";
    src: url("../font/AbrilFatface-Regular.ttf");
}

body {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 2;
    font-size: 2rem;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 3.8rem;
    text-transform: uppercase;
    font-weight: 900;
}

h2 {
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 900;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;
}

:root {
    --primario: rgb(14, 116, 163);
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
    text-align: center;
}

.seccion {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.boton {
    color: #ffffff;
    text-decoration: none;
    background-color: var(--primario);
    padding: .5rem 2rem;
    border-radius: 3px;
    font-size: 2rem;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin: 2rem 0;
    transition: background .5s ease-in-out;
}

.boton:hover {
    background-color: #149bd4;
    color: #ffffff;
}


/* header */


/* nav {
    height: 80px;
    width: 100%;
} */


/* nav */

nav {
    background: #ffffff;
    -webkit-box-shadow: 1px 4px 7px -1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 1px 4px 7px -1px rgba(0, 0, 0, 0.33);
    box-shadow: 1px 4px 7px -1px rgba(0, 0, 0, 0.33);
    position: fixed;
    top: 0;
    width: 100%;
    transition: top .5s;
    z-index: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: #333333;
    text-decoration: none;
    transition: border .3s ease;
}

.item a:hover {
    color: var(--primario);
}

.logo a:hover {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    height: 6rem;
}

.flex img {
    height: 100%;
    margin-right: 1rem;
}

.flex h1 {
    font-size: 2.8rem;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}

.logo a,
.toggle a {
    font-size: 20px;
}


/* Mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item:hover {
    border-bottom: .2rem solid var(--primario);
}

.item.active {
    display: block;
}

.flex h2 {
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: 300;
}

.flex img {
    height: 3rem;
    margin-right: 1rem;
}

@media (min-width: 768px) {
    .flex h2 {
        font-size: 2.8rem;
    }
    .flex img {
        height: 4rem;
        margin-right: 1rem;
    }
}


/* Tablet menu */

@media all and (min-width: 600px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .toggle {
        flex: 1;
        text-align: right;
    }
    .toggle {
        order: 2;
    }
}


/* Desktop menu */

@media all and (min-width: 900px) {
    .item {
        display: block;
        width: auto;
    }
    .toggle {
        display: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
    }
    .button {
        order: 2;
    }
    .menu li {
        padding: 5px 10px;
    }
}


/* fin nav */

.contenido-header {
    padding: 1rem;
    display: flex;
    height: 100%;
    justify-content: space-between;
    /* background-color: #b3b1b10c; */
    flex-direction: column;
    margin-top: 12rem;
}

@media (min-width: 768px) {
    .contenido-header {
        flex-direction: row;
        align-items: center;
        max-width: 1200px;
        margin: 5rem auto;
        height: 90vh;
    }
}

.dos-columnas {
    flex: 0 0 calc(50% - 2rem);
}

.imagen-lista {
    margin: 2rem auto;
    width: 70%;
}

.imagen-lista img {
    align-items: center;
}

@media (min-width: 768px) {
    .imagen-lista img {
        width: 80%;
        display: block;
    }
}

.texto-header {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
    .texto-header {
        padding-left: 3rem;
        text-align: left;
        text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    }
}

.texto-header h1 {
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.texto-header h1::after {
    content: '';
    display: block;
    width: 25rem;
    height: .3rem;
    background-color: rgb(20, 145, 202);
    transition: all .3s ease-in-out;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .texto-header h1::after {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .texto-header h1 {
        font-size: 5rem;
        line-height: 1.2;
    }
}


/* fin header */


/* contenedor servicios */

.site-servicio {
    background-color: rgb(14, 116, 163);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-servicios {
    display: flex;
    height: 100%;
    flex-direction: column;
}

@media (min-width: 568px) {
    .contenedor-servicios {
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.servicio {
    padding: 2rem;
    color: #ffffff;
    text-align: center;
    max-width: 100%;
}

@media (min-width: 769px) {
    .servicio {
        padding: 3rem;
        max-width: 40rem;
        align-items: flex-start;
    }
}

.servicio i {
    font-size: 3.5rem;
}

@media (min-width:568px) {
    .servicio i {
        font-size: 6rem;
    }
}

.text-servicio h3 {
    font-size: 3rem;
}

.text-servicio p {
    font-weight: 300;
    font-size: 2rem;
    width: 100%;
}

@media (min-width: 578px) {
    .text-servicio p {
        font-weight: 400;
        font-size: 1.5rem;
    }
    .text-servicio {
        text-transform: uppercase;
    }
    .text-servicio h3 {
        font-weight: 700;
        font-size: 3rem;
    }
}

.servicio:hover {
    background-color: rgb(14, 116, 163);
}


/* nosotros */

@media (min-width: 768px) {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

.contenido-nosotros .imagen {
    width: 60%;
    margin: 2rem auto;
}

.text-nosotros h2 {
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 900;
}

.text-nosotros p {
    font-size: 2rem;
}

.span {
    font-weight: 700;
}

.text-nosotros h2::after {
    content: '';
    display: block;
    width: 25rem;
    height: .3rem;
    background-color: rgb(20, 145, 202);
    transition: all .3s ease-in-out;
    margin: 0 auto 3rem;
}


/* estadisticas */

.estadisticas {
    background: url(../img/estadistica-min.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.estadisticas::after {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c5364da, #203a43d2, #0f2027da);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.estadisticas h2 {
    color: #ffffff;
    z-index: 1;
    font-weight: 900;
    margin: 5rem auto;
    position: relative;
}

.estadisticas .titulo::after {
    content: '';
    display: block;
    width: 25rem;
    height: .3rem;
    background-color: #ffffff;
    margin: -1rem auto;
}


/* contadores */

.contadores-principales {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 1;
}

.contador {
    flex-basis: calc(33.3% - 1rem);
    color: #ffffff;
    padding: 1rem;
    margin: 0;
}

.contador h3 {
    font-weight: 300;
    text-transform: uppercase;
}

.contador-cantidad {
    color: #eab830;
    font-weight: 900;
    font-size: 4rem;
}


/* slider */


/* common css up */

.spacer h2 {
    text-align: center;
    margin: 2rem 0;
}

.spacer h2::after {
    content: '';
    display: block;
    width: 25rem;
    height: .3rem;
    background-color: var(--primario);
    margin: -1rem auto;
}

.testimonial p {
    font-size: 100rem;
    letter-spacing: 0.02em;
    line-height: 35px;
}

.testimonial .name {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 35px;
    text-align: center;
}

.testimonial .designation {
    font-size: 14px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #000000;
    opacity: 0.65;
}

.hero-text {
    font-size: 30px;
    letter-spacing: 0.02em;
    color: #000000;
}

.gallery-thumbs {
    width: 100%;
    height: 100%;
}

.gallery-thumbs .swiper-wrapper {
    display: none;
}

.gallery-thumbs .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100% !important;
    height: 330px;
    position: relative;
}

.gallery-thumbs .swiper-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonial-section .quote {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0 1rem 0;
}

.quote img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    align-items: center;
}

.swiper-container.testimonial {
    height: 60vh;
    width: 90%;
}

@media (min-width: 768px) {
    .swiper-container.testimonial {
        width: 100%;
    }
}

.testimonial-section .user-saying {
    width: 100%;
    color: #000000;
    height: 100%;
}

.testimonial-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.testimonial-section .quote p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    font-style: italic;
    margin: 0;
    padding: 0 2rem;
}

.quote-icon {
    width: 38px;
    display: block;
    margin-bottom: 30px;
}


/* footer */

.site-footer {
    background-color: var(--primario);
    color: #ffffff;
}

.contenido-footer span {
    font-size: 3.5rem;
    font-weight: 900;
    font-family: "Abril";
    position: relative;
    top: 1rem;
    right: .1rem;
}

@media (min-width: 830px) {
    .contenido-footer span {
        top: 2rem;
        right: .5rem;
    }
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
}

@media (min-width: 830px) {
    .info {
        flex-direction: row;
    }
}

.info .rectangulo {
    z-index: 12;
    position: relative;
    display: inline-block;
    margin-left: 0rem;
    order: 1;
    background-color: #ffffff;
    width: 2rem;
    height: 2rem;
}

@media (min-width:830px) {
    .info .rectangulo {
        margin-left: 12rem;
        order: 0;
        width: 2rem;
        height: 2rem;
    }
}

.info .rectangulo::after {
    content: '';
    display: block;
    width: 9rem;
    height: .3rem;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
}

.info .rectangulo::before {
    content: '';
    display: block;
    width: 9rem;
    height: .3rem;
    background-color: #ffffff;
    top: 50%;
    right: 50%;
    position: absolute;
}

.redes {}

.redes a {
    color: #ffffff;
    font-size: 2.4rem;
    padding: 1rem 1rem;
    transition: .5s ease-in-out;
}

.redes a:hover {
    background-color: rgb(10, 66, 92);
}

.copy {
    background-color: rgb(10, 66, 92);
}


/* internas */

.header-interno h2 {
    color: #ffffff;
    z-index: 1;
    font-weight: 900;
    position: relative;
    top: 9rem;
}

.header-interno h2::after {
    content: '';
    display: block;
    width: 25rem;
    height: .3rem;
    background-color: #ffffff;
    margin: -1rem auto;
}

.header-interno {
    background: url(../img/estadistica-min.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 20rem;
}

.header-interno::after {
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c5364da, #203a43d2, #0f2027da);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* padre */

.contenido-habi {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .contenido-habi {
        flex-direction: row;
    }
}

.contenido-habi h3::after {
    content: '';
    display: block;
    width: 25rem;
    height: .3rem;
    background-color: var(--primario);
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contenido-habi h3::after {
        margin: 0;
    }
}


/* hijo */

.dos-col {
    flex: 0 0 calc(50% - 2rem);
}

.text-habilitaciones {
    text-align: center;
}

@media (min-width: 768px) {
    .text-habilitaciones {
        text-align: left;
    }
}

.como-trabajamos {
    text-align: center;
}

@media (min-width: 768px) {
    .como-trabajamos {
        text-align: left;
    }
}

.contenido-contacto {
    display: grid;
    justify-content: center;
    align-items: center;
}

@media (min-width: 679px) {
    .contenido-contacto {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}

.mapa {}

.mapa iframe {
    width: 100%;
    height: 30rem;
}

@media (min-width: 679px) {
    .mapa iframe {
        width: 100%;
        height: 50rem;
    }
}

.contacto-redes i {
    color: var(--primario);
    font-size: 1.7rem;
    border-radius: 50%;
    /* width: 5rem;
    height: 5rem; */
    padding: 1rem;
}

.icon-redes i {
    background-color: var(--primario);
    font-size: 2rem;
    border-radius: 50%;
    /* width: 5rem;
    height: 5rem; */
    color: #ffffff;
    padding: 1rem;
    transition: background-color .5s ease-in-out;
}

.icon-redes i:hover {
    background-color: #2344d6;
}